[Unit]
Description=Activar IPv4 bit de forwarding
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.ipv4.ip_forward=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
