network:
  version: 2
  ethernets:
    ens3:
      dhcp4: false
    ens4:
      addresses:
      - "192.168.201.3/24"
      dhcp4: false
    ens5:
      addresses:
      - "10.0.0.2/24"
      nameservers:
        addresses:
        - 10.0.0.1
        - 8.8.8.8
      dhcp4: false
      routes:
      - to: "default"
        via: "10.0.0.1"
