<?php
$i++;

$cfg['Servers'][$i]['extension'] = '{{ pma_type }}';
$cfg['Servers'][$i]['host'] = '{{ pma_server }}';
$cfg['Servers'][$i]['port'] = '{{ pma_port }}';	
$cfg['Servers'][$i]['user'] = '{{ pma_user }}';
$cfg['Servers'][$i]['password'] = '{{ pma_pass }}';
$cfg['Servers'][$i]['only_db'] = '{{ pma_db }}';
$cfg['Servers'][$i]['verbose'] = {{ pma_path }};
$cfg['Servers'][$i]['auth_type'] = 'cookie';
$cfg['Servers'][$i]['compress'] = false;
$cfg['Servers'][$i]['AllowNoPassword'] = false;
?>
